@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    #ff5722 0%,
    #ff6d3a 26%,
    #ff7e55 39%,
    #ff8e6e 50%,
    #ff9f88 61%,
    #ffb0a2 74%,
    #ffc2bd 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(97.86deg, #ff5722 0%, #ff784b 50%, #ff9574 100%);
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: rgba(255, 87, 34, 0.4); /* #ff5722 with transparency */
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(28, 28, 28, 0.6); /* darkened background */
  box-shadow: 0 8px 32px 0 rgba(255, 87, 34, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 87, 34, 0.2);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(255, 87, 34, 0.25);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(255, 87, 34, 0.5);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 87, 34, 0.04) 0%,
    rgba(28, 28, 28, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: rgba(255, 87, 34, 0.3);
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: rgba(255, 87, 34, 0.5);
  filter: blur(150px);
}
