.overlay {
  width: 0;
  height: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  overflow: hidden;
  transition: all 0.5s ease;
}

.open {
  width: 100vw;
  height: 100vh;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}
.closebtn:hover {
  color: #ff5722;
}

.overlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlayContent a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlayContent a:hover {
  color: #ff5722;
}
